#page-content {
    max-width: min(90%, 1200px);
}


h1 {
    font-size: 30;
    text-align: center;
}


#biography {
    width: 600;
    display: flex;
    margin-top: 50px;
}


#biography img {
    width: 75px;
    height: 75px;
    align-self: center;
}


#biography p {
    font-style: italic;
    margin-left: 30px;
}


.section-divider {
    margin: 50px 0px 75px 0px;
}


#blog-main {
    display: flex;
    align-items: start;
    flex-direction: row-reverse;
    margin: 50px 0px 70px 0px;
}


#blog-main a {
    text-decoration: none;
    color: #3f3f3f;
}


.blog-post-summary-list {
    flex-grow: 1;
}


.blog-post-summary-box {
    margin-bottom: 80px;
}


.blog-post-summary-box > h2 {
    margin-top: 0px;
}


.blog-post-summary-box > h2 {
    font-size: 25 !important;
    font-weight: normal !important;
    text-align: left;
}


.date-categories {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color: rgb(233, 233, 233);
    border-width: 0 0 1px 0;
    padding-bottom: 10px;
}


.date-categories > time {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14;
}


.date-categories > .categories {
    list-style-type: none;
    margin: 0 !important;
}


.date-categories > .categories > li {
    display: inline;
    font-size: 13 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    margin: 0px !important;
    line-height: normal !important;
}


.date-categories > .categories a {
    color: #808080 !important;
}


.blog-post-summary-box > .summary {
    position: relative;
    display: block;
    height: 85px;
    overflow: hidden;
}


.blog-post-summary-box > .summary:after {
    display: block;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(rgba(255, 0, 0, 0) 50%,
            rgb(255, 255, 255) 95%);
    pointer-events: none;
}


.blog-post-summary-box > .summary > a {
    pointer-events: initial;
    cursor: text;
}


#blog-sidebar {
    margin-left: 80px;
    flex-shrink: 0;
    padding-left: 20px;
    border-style: solid;
    border-color: rgb(218, 218, 218);
    border-width: 0 0 0 1px;
    display: inline-block;
}


#blog-sidebar > #categories {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}


#blog-sidebar > h3 {
    font-size: 18;
    font-weight: 100;
    margin: 0px 0px 20px 0px;
}


#blog-sidebar > #categories > li {
    margin: 0px 0px 10px 5px;
    padding: 0px 10px;
    background-color: rgb(207, 207, 207);
    border-radius: 25px;
    clear: both;
    font-size: 13;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    line-height: 1.75;
}


@media (max-width: 940px) {

    .section-divider {
        margin-bottom: 60px;
    }

    #blog-main {
        display: block;
        flex-direction: row;
        margin-top: 0px;
    }

    #blog-sidebar {
        margin-left: 0px;
        padding-left: 0px;
        border-width: 0;
        width: 100%;
    }

    #blog-sidebar > h3 {
        text-align: center;
    }

    #blog-sidebar > #categories {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #blog-sidebar > #categories > li {
        margin: 5px;
        padding: 0px 10px;
    }

    .blog-post-summary-list {
        margin: 60px 0px 70px 0px;
    }
}


@media (max-width: 650px) {
    #page-content {
        max-width: 100%;
    }

    #biography {
        flex-direction: column;
        margin-bottom: 0;
        width: 100%;
    }

    #biography p {
        text-align: center;
        margin: 30px 0px 0px 0px;
    }

    .section-divider {
        margin-bottom: 50px;
    }

    .blog-post-summary-list {
        margin-top: 50px;
    }

    .blog-post-summary-box > .summary {
        height: 125px;
    }

    .blog-post-summary-box {
        margin-bottom: 55;
    }
}