#page-content {
    padding: 0 !important;
}

/* Selects divs preceded by paragraphs (to add spaces before images) */
#case-study-sections p + div {
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
}

#case-study-sections .image-and-grid:last-child,
#case-study-sections .centre-image-link:last-child,
#case-study-sections .image-with-caption:last-child,
#case-study-sections .full-width-image-link-or-max:last-child {
    margin-bottom: 0 !important;
}

/* Solo image in section */
#case-study-sections .centre-image-link:only-child,
#case-study-sections .image-with-caption:only-child,
#case-study-sections .full-width-image-link-or-max:only-child {
    margin: 0 !important;
}

h1 {
    margin-top: 0px !important;
}

.image-grid {
    grid-gap: 20px !important;
}

#case-study-video {
    width: 340px;
    padding: 20px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#case-study-sections > div {
    padding: 60px 65px;
}

#case-study-sections > div:nth-child(even) {
    background-color: lightgrey;
}

.column img {
    width: 100%;
}

@media (max-width: 750px) {
    #case-study-sections > div {
        padding: 30px 35px;
    }

    #case-study-video {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #case-study-sections p + div {
        margin-top: 30px;
    }
}