#contact-text {
    width: 60%;
    margin-bottom: 70px;
}

#contact-text p {
    font-style: italic;
    font-size: 18 !important;
}

@media (max-width: 750px) {
    #contact-text {
        width: 100%;
    }
}