#footer-content {
    text-align: center;
    background-color: lightgray;
    padding: 25px;
    margin-top: 60px;
}

#footer-content p {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 13;
}