#navigation-bar {
    background-color: black;
    display: flex;
}

#logo {
    width: 100%;
    margin: 20px;
}

#navigation {
    display: flex;
    list-style-type: none;
    margin: 0 15 0 0;
    padding: 0;
}

#navigation a {
    font-size: 13;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 29.5px;
}

#navigation > li:hover {
    background-color: rgb(36, 36, 36);
}

@media (max-width: 940px) {
    #navigation-bar {
        flex-direction: column;
    }

    #navigation {
        background-color: rgb(94, 94, 94);
        padding: 0 0 0 15px;
        margin: 0;
    }

    #navigation a {
        padding: 20px;
    }
}

@media (max-width: 500px) {
    #logo {
        width: auto;
    }

    /* Needed for mobile view - narrow browser window doesn't show issue */
    #logo img {
        width: 100%;
    }

    #navigation {
        flex-direction: column;
        padding: 0;
    }

    #navigation > li {
        border-style: solid;
        border-color: black;
        border-width: 0 0 1px 0;
        text-align: center;
    }
}