body {
    margin: 0;
}

#page-content {
    padding: 35px;
}

p:first-of-type {
    margin-top: 0;
}

p:last-of-type {
    margin-bottom: 0;
}

.underlined-title {
    border-style: solid;
    border-color: rgb(218, 218, 218);
    border-width: 0 0 1px 0;
    padding-bottom: 15px;
    margin-top: 65;
}

.image-grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(250px, 100%/5), 1fr));
    grid-gap: 5px;
    margin-top: 35px;
}

.image-grid img {
    width: 100%;
    object-fit: cover;
}

.image-grid-two-columns {
    grid-template-columns: repeat(auto-fit, minmax(max(350px, 100%/3), 1fr));
}

.image-grid-two-columns img {
    height: 430px;
}

.image-grid-three-columns {
    grid-template-columns: repeat(auto-fit, minmax(max(300px, 100%/4), 1fr));
}

.image-grid-three-columns img {
    height: 330px;
}

.image-grid-four-columns {
    grid-template-columns: repeat(auto-fit, minmax(max(250px, 100%/5), 1fr));
}

.image-grid-four-columns img {
    height: 270px;
}

.image-grid-full-height img {
    object-fit: scale-down;
    height: 100%;
}

.centre-image-link {
    margin: 20px;
}

.centre-element {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centre-image-link img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.single-image-height {
    width: min(500px, 100%);
}

.full-width-image-link-or-max {
    margin: 20px;
}

.full-width-image-link-or-max img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    max-width: 100%;

}

.section-divider {
    width: 100%;
    border-style: solid;
    border-color: rgb(218, 218, 218);
    border-width: 0 0 1px 0;
    margin: 35px 0;

}

.image-with-caption img {
    width: 75%;
}

.image-with-caption p {
    text-align: center;
    margin-top: 10px;
}

.two-column-layout {
    display: flex;
}

.column-one {
    width: 50%;
}

.column-two {
    width: 50%;
    padding-left: 45px;
}

@media (max-width: 750px) {
    .image-with-caption img {
        width: 100%;
    }

    .two-column-layout {
        flex-direction: column;
    }

    .column-one {
        width: 100%;
    }

    .column-two {
        width: 100%;
        padding-left: 0;
    }
}