#navigation-bar {
    background-color: darkgray;
}

#navigation-bar > #logo {
    float: left;
    padding: 10px;
    margin: 10px;
}

#navigation-bar > #navigation {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
}

#navigation-bar > #navigation > li {
    padding: 10px;
    margin: 10px;
}